body {
  background-color: rgb(25, 25, 25);
  font-family: Arial, Helvetica, sans-serif;
}

#card_master {
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  width: 500px;
}

.card_floating_div {
  margin: 10px 0px;
  background-color: rgb(40, 40, 40);
}

.card_floating_div_header {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(97, 40, 255);
}

.card_checkbox_div {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  margin-left: 10px;
}

.card_checkbox_div_span {
  color: rgb(210, 210, 210);
  margin-left: 5px;
}

.card_body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: rgb(210, 210, 210);
}

#card_body_select {
  width: 100%;
  outline: none;
  background-color: rgb(60, 60, 60);
  height: 30px;
  border: none;
  color: rgb(210, 210, 210);
}

.card_body_span {
  margin-top: 20px;
  margin-bottom: 5px;
}

.card_input {
  outline: none;
  background-color: rgb(60, 60, 60);
  border: none;
  height: 30px;
  padding: 0px 5px;
  color: rgb(210, 210, 210);
}

#styling_page_heatmap_div {
  width: 100%;
  height: 30px;
  background: linear-gradient(
    to right,
    black,
    blue,
    aqua,
    rgb(0, 255, 0),
    yellow,
    orange,
    red,
    pink,
    white
  );
}
